<main-navigation title="Login"></main-navigation>
 <ion-content padding>
    <form (ngSubmit)="login(email, password)" class="align-middle">
        <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input name="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input name="password" type="password"></ion-input>
        </ion-item>

        <ion-grid>

          <ion-row>
            <ion-col width-6>
              <button type="submit" ion-button color="dark" icon-left class="button-full">
                <ion-icon name="unlock"></ion-icon>
                Login
              </button>
            </ion-col>
            <ion-col width-6>
            <button ion-button color="dark" icon-left class="button-full">
              <ion-icon name="exit"></ion-icon>
              Close
            </button>
            </ion-col>
          </ion-row>

          <!-- Register -->
          <ion-row>
            <ion-col width-12>
              <button (click)="register()" ion-button color="dark" icon-left class="button-full">
                <ion-icon name="create"></ion-icon>
                Register
              </button>
            </ion-col>
          </ion-row>
          <!-- Register -->
        </ion-grid>
    </form>
</ion-content>

