<main-navigation title="Register"></main-navigation>
<ion-content padding>
    <form (ngSubmit)="register()" class="align-middle">
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="email" name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" name="last_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" name="first_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Middle Name</ion-label>
            <ion-input type="text" name="middle_name"></ion-input>
        </ion-item>

        <ion-row>
            <ion-col width-6>
              <button type="submit" ion-button color="dark" icon-left class="button-full">
                <ion-icon name="user"></ion-icon>
                Register
              </button>
            </ion-col>
            <ion-col width-6>
            <button (click)="this.navCtrl.pop()" type="button" ion-button color="dark" icon-left class="button-full">
              <ion-icon name="exit"></ion-icon>
              Back
            </button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>